<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Bars" type="SparkyTools.XmlConfig.ConfigurationSectionListDeserializer, SparkyTools.XmlConfig" />
    <section name="EmptyBars" type="SparkyTools.XmlConfig.ConfigurationSectionListDeserializer, SparkyTools.XmlConfig" />
    <section name="Bar" type="SparkyTools.XmlConfig.ConfigurationSectionDeserializer, SparkyTools.XmlConfig" />
    <section name="Bar2" type="SparkyTools.XmlConfig.ConfigurationSectionDeserializer, SparkyTools.XmlConfig" />
    <section name="Bar3" type="SparkyTools.XmlConfig.ConfigurationSectionDeserializer, SparkyTools.XmlConfig" />
    <section name="Bar4" type="SparkyTools.XmlConfig.ConfigurationSectionDeserializer, SparkyTools.XmlConfig" />
    <section name="Bar5" type="SparkyTools.XmlConfig.ConfigurationSectionDeserializer, SparkyTools.XmlConfig" />
    <section name="Foo" type="SparkyTools.XmlConfig.ConfigurationSectionDeserializer, SparkyTools.XmlConfig" />
    <section name="Foo2" type="SparkyTools.XmlConfig.ConfigurationSectionDeserializer, SparkyTools.XmlConfig" />
  </configSections>
  
  <appSettings>
    <add key="test" value="success" />
  </appSettings>

  <Bars type="SparkyTools.XmlConfig.UnitTests.TestClasses.Bar, SparkyTools.XmlConfig.UnitTests">
    <Bar>
      <Quuz>Quuz0</Quuz>
      <Corge>0</Corge>
      <Grault>0</Grault>
      <Garply>CurrentCulture</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz1</Quuz>
      <Corge>1</Corge>
      <Grault>1</Grault>
      <Garply>CurrentCultureIgnoreCase</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz2</Quuz>
      <Corge>2</Corge>
      <Grault>2</Grault>
      <Garply>InvariantCulture</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz3</Quuz>
      <Corge>3</Corge>
      <Grault>3</Grault>
      <Garply>InvariantCultureIgnoreCase</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz4</Quuz>
      <Corge>4</Corge>
      <Grault>4</Grault>
      <Garply>Ordinal</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz5</Quuz>
      <Corge>5</Corge>
      <Grault>5</Grault>
      <Garply>OrdinalIgnoreCase</Garply>
    </Bar>
  </Bars>

  <EmptyBars type="SparkyTools.XmlConfig.UnitTests.TestClasses.Bar, SparkyTools.XmlConfig.UnitTests">
  </EmptyBars> 
  
  <Bar type="SparkyTools.XmlConfig.UnitTests.TestClasses.Bar, SparkyTools.XmlConfig.UnitTests">
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar>
 
  <Bar2 type="SparkyTools.XmlConfig.UnitTests.TestClasses.Bar, SparkyTools.XmlConfig.UnitTests">
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar2>
 
  <Bar3>
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar3>

  <Bar4 type="SparkyTools.XmlConfig.UnitTests.TestClasses.Foo, SparkyTools.XmlConfig.UnitTests">
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar4>

  <Bar5 type="SparkyTools.XmlConfig.UnitTests.TestClasses.Bark, SparkyTools.XmlConfig.UnitTests">
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar5>
  
  <Foo type="SparkyTools.XmlConfig.UnitTests.TestClasses.Foo, SparkyTools.XmlConfig.UnitTests">
    <Bar>
      <Quuz>quuz from config</Quuz>
      <Corge>1212</Corge>
      <Grault>123.45</Grault>
      <Garply>CurrentCulture</Garply>
    </Bar>
    <Baz>baz from config</Baz>
    <Qux>666</Qux>
    <Quux>2018-12-31T00:00:00</Quux>
  </Foo>

  <Foo2 type="SparkyTools.XmlConfig.UnitTests.TestClasses.Foo, SparkyTools.XmlConfig.UnitTests">
    <Bar>
      <Quuz>quuz from config</Quuz>
      <Corge>1212</Corge>
      <Grault>123.45</Grault>
      <Garply>CurrentCulture</Garply>
    </Bar>
    <Baz>baz from config</Baz>
    <Qux>666</Qux>
    <Quux>12/31/2018</Quux>
  </Foo2>
</configuration>