<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Bars" type="SparkyTools.XmlConfig.Fx.ConfigurationSectionListDeserializer, SparkyTools.XmlConfig.Fx" />
    <section name="EmptyBars" type="SparkyTools.XmlConfig.Fx.ConfigurationSectionListDeserializer, SparkyTools.XmlConfig.Fx" />
    <section name="Bar" type="SparkyTools.XmlConfig.Fx.ConfigurationSectionDeserializer, SparkyTools.XmlConfig.Fx" />
    <section name="Bar2" type="SparkyTools.XmlConfig.Fx.ConfigurationSectionDeserializer, SparkyTools.XmlConfig.Fx" />
    <section name="Bar3" type="SparkyTools.XmlConfig.Fx.ConfigurationSectionDeserializer, SparkyTools.XmlConfig.Fx" />
    <section name="Bar4" type="SparkyTools.XmlConfig.Fx.ConfigurationSectionDeserializer, SparkyTools.XmlConfig.Fx" />
    <section name="Bar5" type="SparkyTools.XmlConfig.Fx.ConfigurationSectionDeserializer, SparkyTools.XmlConfig.Fx" />
    <section name="Foo" type="SparkyTools.XmlConfig.Fx.ConfigurationSectionDeserializer, SparkyTools.XmlConfig.Fx" />
    <section name="Foo2" type="SparkyTools.XmlConfig.Fx.ConfigurationSectionDeserializer, SparkyTools.XmlConfig.Fx" />
  </configSections>

  <appSettings>
    <add key="test" value="success" />
  </appSettings>

  <Bars type="SparkyTools.XmlConfig.Fx.UnitTests.TestClasses.Bar, SparkyTools.XmlConfig.Fx.UnitTests">
    <Bar>
      <Quuz>Quuz0</Quuz>
      <Corge>0</Corge>
      <Grault>0</Grault>
      <Garply>CurrentCulture</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz1</Quuz>
      <Corge>1</Corge>
      <Grault>1</Grault>
      <Garply>CurrentCultureIgnoreCase</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz2</Quuz>
      <Corge>2</Corge>
      <Grault>2</Grault>
      <Garply>InvariantCulture</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz3</Quuz>
      <Corge>3</Corge>
      <Grault>3</Grault>
      <Garply>InvariantCultureIgnoreCase</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz4</Quuz>
      <Corge>4</Corge>
      <Grault>4</Grault>
      <Garply>Ordinal</Garply>
    </Bar>
    <Bar>
      <Quuz>Quuz5</Quuz>
      <Corge>5</Corge>
      <Grault>5</Grault>
      <Garply>OrdinalIgnoreCase</Garply>
    </Bar>
  </Bars>

  <EmptyBars type="SparkyTools.XmlConfig.Fx.UnitTests.TestClasses.Bar, SparkyTools.XmlConfig.Fx.UnitTests">
  </EmptyBars>

  <Bar type="SparkyTools.XmlConfig.Fx.UnitTests.TestClasses.Bar, SparkyTools.XmlConfig.Fx.UnitTests">
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar>

  <Bar2 type="SparkyTools.XmlConfig.Fx.UnitTests.TestClasses.Bar, SparkyTools.XmlConfig.Fx.UnitTests">
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar2>

  <Bar3>
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar3>

  <Bar4 type="SparkyTools.XmlConfig.Fx.UnitTests.TestClasses.Foo, SparkyTools.XmlConfig.Fx.UnitTests">
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar4>

  <Bar5 type="SparkyTools.XmlConfig.Fx.UnitTests.TestClasses.Bark, SparkyTools.XmlConfig.Fx.UnitTests">
    <Quuz>quuz from config</Quuz>
    <Corge>1212</Corge>
    <Grault>123.45</Grault>
    <Garply>CurrentCulture</Garply>
  </Bar5>

  <Foo type="SparkyTools.XmlConfig.Fx.UnitTests.TestClasses.Foo, SparkyTools.XmlConfig.Fx.UnitTests">
    <Bar>
      <Quuz>quuz from config</Quuz>
      <Corge>1212</Corge>
      <Grault>123.45</Grault>
      <Garply>CurrentCulture</Garply>
    </Bar>
    <Baz>baz from config</Baz>
    <Qux>666</Qux>
    <Quux>2018-12-31T00:00:00</Quux>
  </Foo>

  <Foo2 type="SparkyTools.XmlConfig.Fx.UnitTests.TestClasses.Foo, SparkyTools.XmlConfig.Fx.UnitTests">
    <Bar>
      <Quuz>quuz from config</Quuz>
      <Corge>1212</Corge>
      <Grault>123.45</Grault>
      <Garply>CurrentCulture</Garply>
    </Bar>
    <Baz>baz from config</Baz>
    <Qux>666</Qux>
    <Quux>12/31/2018</Quux>
  </Foo2>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Console" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>